/* *{
    border: red 1px solid;
} */

.formularioGrande {
    width: 700px;
}

.formularioMini {
    width: 400px;
}

.medioDivisor {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones Nav Bar */
.imgUser{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#footer{
    z-index: 0;
}
/* ------------------------------------------------------------------------------ */
/* Ediciones Index */
.imgIndex{
    filter: brightness(50%);
}

.imgIndex:hover{
    filter: brightness(25%);
}

.cardJuego:hover{
    filter: brightness(80%);
}

.contenedorIndex{
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoIndex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  }

  .loading-overlay .spinner {
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #6c757d;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

/* ------------------------------------------------------------------------------ */
/* Ediciones Registro, PasswordOlvidada, CambiarPassword*/
#inicioSesion, #correoMandado, #cambiarPassword, #passwordCambiada{
    /* width: 500px; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.linkInicio:hover {
    color: black;
}

.linkInicio {
    color: gray;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones NuevaCuenta*/
.btnVolver {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 100px;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones Perfil*/
#usernamePerfil {
    display: inline-block;
    vertical-align: top;
}

.imgPerfil{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones SubirJuego*/
.generoSize {
    font-size: 14px;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones Configuracion-ModificarJuego*/
.oldDescripcion {
    font-size: 12px;
}

#oldMiniatura, #oldImagen{
    height: 100px;
    width: 100px;
}

.juegoCesta{
    height: 75px;
    width: 75px;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones AdminView*/
.tablaInformacion {
    overflow-x: scroll;
}

.userNameURL:hover{
    color: black;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones ListaJuegos*/
.offcanvas {
    bottom: initial;
}

#btn-flotante {
    width: 50px;
    height: 50px;
    display: none; /* Ocultar inicialmente el botón */
    position: fixed; /* Fijar el botón en la pantalla */
    bottom: 20px; /* Posición vertical */
    right: 20px; /* Posición horizontal */
    z-index: 99; /* Colocar el botón por encima de otros elementos */
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------------ */
/* Ediciones DetalleJuego*/
.juegoEnListaDeseos {
    background-color: pink;
    border-color: white;
    color: black;
    font-weight: bold;
}

#creadorUsername:hover, .comentario:hover {
    color: gray;
    font-weight: bold;
}

.migaEnlace{
    color: white;
}

.migaEnlace:hover{
    color: whitesmoke;
    font-weight: bold;
}

.valoracion{
    width: 80px;
    height: 80px;
}

.rating { 
    border: none;
    float: left;
  }

  /* CSS para el funcionamiento del sistema de estrellas */
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 16px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



